@media only screen and (max-width: 600px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
    #map {
        max-height: 500px;
        min-width: 100%;
    }
}

html,
body {
    height: 100%
}

#map {
    width: 50%;
    height: 600px;
    /* margin: 0 auto; */
    margin-bottom: 10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
    height: 80px;
    text-align: right;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info h5 {
    margin: 0;
    color: cadetblue;
}

.info p {
    margin: 5px 0;
}

.parent {
    display: flex;
    justify-content: center;
}

.info-commune {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info-commune p {
    color: #777;
    text-align: center;
}

.info-commune h4 {
    margin: 0 auto;
    text-decoration: underline;
    color: #777;
}

#liens {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#liens a {
    margin: 5px 0;
    color: cornflowerblue;
    text-decoration: none;
}

#liens p {
    margin: 0;
}

#couleurs {
    margin: 0 10px;
}