@media only screen and (max-width: 600px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
    #map {
        max-height: 500px;
        min-width: 100%;
    }
}

html,
body {
    height: 100%
}

#map {
    width: 50%;
    height: 600px;
    /* margin: 0 auto; */
    margin-bottom: 10px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 320px;
    height: 80px;
    text-align: right;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info h5 {
    margin: 0;
    color: cadetblue;
}

.info p {
    margin: 5px 0;
}

.parent {
    display: flex;
    justify-content: center;
}

.info-commune {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 360px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info-commune p {
    color: #777;
    text-align: center;
}

.info-commune h4 {
    margin: 0 auto;
    text-decoration: underline;
    color: #777;
}

#liens {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#liens a {
    margin: 5px 0;
    color: cornflowerblue;
    text-decoration: none;
}

#liens p {
    margin: 0;
}

#couleurs {
    margin: 0 10px;
}


/* images des risques */

#images-risques {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 8px;
}

.risques-image {
    width: 60px;
    height: 60px;
}

.gris {
    filter: grayscale(1);
    opacity: 0.3;
}

.picto {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.picto-tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #005a32;
    color: #fff;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 999;
}

.picto-tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #005a32 #0000 #0000 #0000;
}

.picto:hover .picto-tooltip {
    top: -90%;
    visibility: visible;
    opacity: 1;
}